//********************Custom Styles*********************
* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: antiquewhite;
    display: block;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined {
    position: absolute;
    visibility: hidden;
}

small {
    visibility: hidden;
}
input, label {
    display: block;
    margin: auto;
}



//**********************Customizing styles*****************

form {
    background-color: white;
    margin: 120px 250px;
    padding: 100px 0px;
    div {
        &.form-data {
            display: flex;
            flex-direction: column;
        }
    };
}