* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}
main {
    margin-top: 150px;
}
header {
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
}
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-form, .signin-form {
    position: block;
}
.login-form input, .signin-form input{
    display: block;
    margin: 4px auto;
    width: 60%;
    height: 2em;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}
.login-form input[type="submit"], .signin-form input[type="submit"] {
    width: 20%;
    height: auto;
    border: 1px solid black;
    border-radius: 30px;
}

.login-form{
    float: left;
    padding-top: 3em;

}

.signin-form {
    float: right;
}

.form-hidder {
    background-color: blueviolet;
    position: absolute;
    width: 50%;
    height: 60%;
    right: 0;

}

.form-hidder-right {
    background-color: blueviolet;
    position: absolute;
    width: 50%;
    height: 60%;
    left: 0;
}
